* text=auto

*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf
*.iss text eol=crlf
*.png binary
*.ico binary
*.lib binary
*.exe binary
assets/demo.gif filter=lfs diff=lfs merge=lfs -text
vendor/mpv/libmpv-2.dll filter=lfs diff=lfs merge=lfs -text
